$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.voteBarChartContainer{
  border-left:3px solid; 
  border-bottom:3px solid; 
  padding:15px 0 25px;
}

.voteBarChart{
  position:relative; 
  height:50px; 
  width:100%; 
  border:1px solid #eee; 
  border-left:none; 
  margin-top:15px;
}

.voteBar{
  width:0%;
  position:absolute; height:49px;
  z-index:-1; 
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
}

.voteBarJob{
  display:inline-block;
  margin-top:15px;
  margin-left:10px;
}

.redBar{
  background-color:rgba(255,0,0,0.5);
}

.blueBar{
  background-color:rgba(0,0,255,0.5);
}

.greenBar{
  background-color:rgba(0,255,0,0.5);
}

.purpleBar{
  background-color:rgba(255,0,255,0.5);
}
